#page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

#page img, #page div {
  display: block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
